@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensans.woff2") format("woff2"),
		 url("../fonts/opensans.woff") format("woff");
	font-weight: 400;
	font-style: normal;	
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensanslight.woff2") format("woff2"),
		 url("../fonts/opensanslight.woff") format("woff");
	font-weight: 300;
	font-style: normal;	
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff2") format("woff2"),
		 url("../fonts/gilroylight.woff") format("woff");
	font-weight: 300;
	font-style: normal;	
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
		 url("../fonts/gilroyextrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;	
}

body {
	margin: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0.01em;
	color: #464646;

	background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.container {
	min-width: 1200px;
	width: 100%;

	overflow-x: hidden;
}

.main-header {
	/*position: relative;*/

	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;
}

.inner-header {
	margin-bottom: 40px;
}

.navigation {
	display: flex;
	flex-direction: column;

	padding: 0 60px;
	padding-bottom: 45px;

	color: #000000;

	background-color: #f7e296;
	background-image: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px);
}

.nav-wrapper-top,
.nav-wrapper-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-wrapper-top {
	margin-bottom: 27px;
}

.navigation a {
	color: #000000;
}

.navigation a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.navigation__logo {
	margin-top: 21px;
	margin-bottom: 10px;
}

.navigation__logo a[href]:hover,
.main-footer__logo a[href]:hover {
	opacity: 0.6;
}

.navigation__logo a[href]:active,
.main-footer__logo a[href]:active {
	opacity: 0.3;
}

.navigation__search::before {
	content: "";

	position: absolute;
	top: 50%;
	left: 4px;

	transform: translateY(-50%);

	width: 16px;
	height: 16px;

	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.navigation__search {
	position: relative;

	width: 400px;
	padding-left: 40px;
}

.search__field {
	padding: 0;

	color: #000000;
	font-family: inherit;
	font-weight: inherit;

	background-color: transparent;

	border: none;
}

.search__field::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.navigation__search:hover .search__field::placeholder { 
	color: rgba(0, 0, 0, 0.6);
} 

.search__button {
	padding: 15px 20px;
	margin-left: 11px;

	visibility: hidden;

	transition-property: visibility;
	transition-duration: 0.1s;

	color: #000000;
	font-family: inherit;
	font-weight: inherit;

	background-color: #f7e296;

	border: none;
	outline: 2px solid #000000;
}

.search__button:hover,
.search__button:focus {
	visibility: visible;

	color: #ffffff;

	background-color: #000000;

	outline: 2px solid #000000;
}

.search__button:active {
	color: rgba(255, 255, 255, 0.3);
}

.search__field {
	width: 300px;
}

.search__field:focus {
	color: #000000;

	outline: none;
}

.search__field:focus + .search__button {
	visibility: visible;

	color: #000000;

	background-color: #f7e296;
}

.search__button::after {
	content: "";

	position: absolute;
	top: 100%;
	right: 0;

	width: 0;
	height: 2px;

	background-color: #000000;

	transition-property: width;
	transition-duration: 0.35s;
}

.search__field:focus + .search__button::after {
	width: 100%;
}

.header-actions {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
	width: 485px;

	list-style: none;
}

.header-actions__item a {
	position: relative;

	margin-left: 50px;
	padding-left: 12px;
}

.header-actions__item:first-child a {
	margin-left: 0;
	/*padding-left: 26px;*/
	margin-left: 0;
}

.header-actions__item a::before {
	content: "";

	position: absolute;
	top: 50%;
	/*left: 0;*/
	right: 100%;

	transform: translateY(-50%);
	margin-top: -1px;

	width: 15px;
	height: 15px;

	/*background-color: #fff;*/
}

.header-actions__item--login a::before {
	background-image: url("../img/user.svg");
	background-position: right bottom;
	background-repeat: no-repeat;
}

.header-actions__item--compare a::before {
	background-image: url("../img/compare.svg");
	background-position: right bottom;
	background-repeat: no-repeat;
}

.header-actions__item--cart a::before {
	background-image: url("../img/cart.svg");
	background-position: right bottom;
	background-repeat: no-repeat;
}

.header-actions__item a:hover::before {
	opacity: 0.6;
}

.header-actions__item a:active::before {
	opacity: 0.3;
}

.header-actions__item--login {
	margin-right: auto;
}

.inner-header .header-actions__item--login {
	margin-right: 0;
}

.header-actions__item--logout {
	margin-right: auto;
	margin-left: 20px;
}

.header-actions__item--logout button {
	padding: 0;

	cursor: pointer;

	font: inherit;
	color: rgba(0, 0, 0, 0.3);

	background-color: transparent;

	border: none;
}

.nav-wrapper-bottom {
	position: relative;
}

.nav-catalog__title {
	display: inline-flex;

	margin: 0;
	width: 300px;
}

.nav-catalog__title button {
	position: relative;

	padding: 0;
	padding-right: 28px;

	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	background-color: transparent;

	border: none;
}

.nav-catalog__title button:hover {
	cursor: pointer; 

	color: rgba(0, 0, 0, 0.6);
}

.nav-catalog__title button:active {
	color: rgba(0, 0, 0, 0.3);
}

.nav-catalog__title button::after {
	opacity: 0.3;

	content: "";

	position: absolute;
	top: 50%;
	right: 0;

	transform: translateY(-50%);

	width: 16px;
	height: 16px;

	background-image: url(../img/plus.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.nav-catalog__wrapper {
	position: absolute;
	top: 100%;
	left: -60px;

	width: 100%;
	padding: 0px 60px;

	background-color: #f7e296;
}

.nav-catalog__list {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 32px 0;
	padding-top: 18px;

	width: 700px;

	line-height: 36px;

	list-style: none;
}

.nav-catalog__item {
	/*margin-left: 40px;*/
	width: 200px;
}

.nav-catalog__item:nth-child(3n-1) {
	margin-left: 40px;
}

.nav-catalog__item:nth-child(5) {
	width: 400px;
}

.main-nav {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
	width: 500px;
	
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	list-style: none;
}

.main-nav__item {
	margin-right: 34px;
}

.main-nav__item:last-child {
	margin-right: -0.2em; /* это ок? :с */
}

.main-nav__item--contacts {
	margin-left: auto;
}

.popular-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.popular-list__slogan {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 56px;
	color: #000000;
}

.popular-list__table td {
	font-size: 13px;
	line-height: 20px;
}

.popular-list__table td:nth-child(2n) {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 48px;
	color: #000000;
}

.catalog__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog__item {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: #000000;

	background-color: #f7e296;
}

.catalog__item a {
	color: #000000;
}

.services {
	background-color: #e5e5e5;
}

.services-nav {
	margin: 0;
	padding: 0;

	list-style: none;
}

.services-nav__item button {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	color: #000000;
	text-transform: uppercase;

	border: none;

	background-color: #f7e296;
}

.services-nav__item--current button {
	color: #f7e296;

	background-color: #000000;
}

.services__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.services__subtitle {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
}

.companies__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.index-columns {
	display: flex;
	justify-content: space-between;

	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
	padding: 0 20px;
}

.about,
.contacts {
	width: 560px;

	letter-spacing: 0;

	background-color: #ffffff;
}

.about__info {
	width: 475px;
}

.about__info p {
	margin: 0;
	margin-bottom: 30px;

}

.about__info p:last-child {
	margin-bottom: 65px;
}

.about__list {
	padding: 0;
	margin-bottom: 55px;

	list-style: none;
}

.about__item {
	position: relative;

	padding-left: 35px;

	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 40px;
	color: #000000;
}

.about__item::before {
	content: "";

	position: absolute;
	top: 50%;
	left: 0;

	transform: translateY(-50%);

	width: 8px;
	height: 8px;
	border-radius: 50%;

	background-color: #e5e5e5;
}

.about__item::after {
	content: "";

	position: absolute;
	top: 50%;
	left: 2px;

	transform: translateY(-50%);

	width: 4px;
	height: 4px;
	border-radius: 50%;

	background-color: #ffffff;
}

.about__title,
.contacts__title,
.inner-page__title {
	margin: 0;
	margin-bottom: 43px;

	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
}

.about__more,
.contacts__more {
	display: block;
	
	width: 260px;

	text-align: center;
}

.contacts__info {
	margin: 0;
	margin-bottom: 40px;
}

.contacts__map {
	display: block;

	margin-bottom: 60px;
}

.button {
	box-sizing: border-box;

	padding: 8px 0;
	padding-left: 0.2em;

	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;

	background-image: linear-gradient(#f0c52e, #f0c52e);
	background-size: 100% 8px;
	background-repeat: no-repeat;
	background-position: left center;
	background-color: transparent;

	transition: 0.3s background;

}

.button:hover {
	background-size: 100% 100%;
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
}

.inner-page {
	width: 1160px;
	margin: 0 auto; 
	padding: 0 20px;

	/*outline: 3px solid red;*/
}

.inner-nav-wrapper {
	width: 1040px;
	margin: 0 auto; 
	margin-bottom: 47px;
}

.inner-page__title {
	margin-bottom: 23px;
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;

	list-style: none;

	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__item {
	position: relative;

	margin-right: 37px;
}

.breadcrumbs__item::after {
	content: "";

	position: absolute;
	top: 50%;
	left: 100%;

	transform: translateY(-50%);

	width: 4px;
	height: 7px;
	margin-left: 17px;

	background-image: url(../img/nav-arrow.svg);
	background-repeat: no-repeat;
	background-position: center 0;
}

.breadcrumbs__item--current::after {
	display: none;
}


.breadcrumbs__item a {
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__item a[href]:hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__item a[href]:active {
	color: rgba(0, 0, 0, 0.1);
}

.catalog-columns {
	display: flex;

	width: 1160px;
}

.filter {
	position: relative;

	min-width: 268px;
	margin-left: 60px;

	background-color: #efefef;
}

.filter::before {
	content: "";

	position: absolute;
	top: 0;
	right: 100%;

	width: 600%;
	height: 100%;

	background-image: linear-gradient(to bottom, #dbdbdb 70px, #eeeeee 70px);
}

.filter fieldset {
	border: none;
	padding: 0;
	margin-bottom: 32px;
}

.filter__title,
.sort__title {
	margin: 0;

	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	color: #000000;
	text-transform: uppercase;
}

.filter__title {
	display: flex; /**/
	align-items: center;

	width: 100%;
	min-height: 70px;
	margin-bottom: 68px;

	background-color: #dbdbdb;
}

.filter__form {
	width: 200px;
}

.filter__parameter {
	margin-bottom: 18px;

	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.filter__parameter::before {
	content: "";

	display: block;
	margin-bottom: 10px;

	width: 200px;
	height: 2px;

	background-color: #000000;
}

.range-filter {
	position: relative;

	margin-top: 17px;
	margin-bottom: 5px;
}

.scale {
	width: auto;
	height: 2px;

	background-color: #dbdbdb;
}

.bar {
	width: 60%;
	height: 100%;

	background-color: #91c92f;
}

.toggle {
	position: absolute;

	width: 20px;
	height: 22px;

	background-image: url(../img/filter-button.svg);
}

.toggle-min {
	top: -10px;
	left: -7px;
}

.toggle-max {
	top: -10px;
	left: 105px;
}

.price-controls label,
.price-controls input {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0;
	color: rgba(0, 0, 0, 0.2);
}

.price-controls input {
	width: 65px;
	height: auto;
	padding: 0;

	background-color: transparent;
	border: none;
}

.filter-list {
	margin: 0;
	padding: 0;

	list-style: none;

	font-size: 14px;
	line-height: 40px;
	color: #000000;
}

.filter-list__item {
	padding-left: 40px;
}

.filter-list__item label {
	position: relative;

	display: block;

	cursor: pointer;
}

.filter-list__checkbox + label::before {
	content: "";

	position: absolute;
	top: 50%;
	left: -41px;

	transform: translateY(-50%);

	width: 27px;
	height: 23px;

	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-list__checkbox + label:hover::before,
.filter-list__checkbox:focus + label::before {
	opacity: 0.6;
}

.filter-list__checkbox + label:active::before {
	opacity: 1;
	background-image: url(../img/checkbox-on.svg);
}

.filter-list__checkbox:checked + label::before {
	background-image: url(../img/checkbox-on.svg);
}

.filter-list__checkbox:checked + label:hover::before,
.filter-list__checkbox:focus:checked + label::before {
	opacity: 0.6;
}

.filter-list__checkbox:checked + label:active::before {
	opacity: 1;
	background-image: url(../img/checkbox-off.svg);
}

.filter-list__checkbox:disabled + label::before,
.filter-list__checkbox:disabled + label:hover::before,
.filter-list__checkbox:disabled + label:active::before {
	opacity: 0.25;
	background-image: url(../img/checkbox-off.svg);
}

.filter-list__checkbox:checked:disabled + label::before,
.filter-list__checkbox:checked:disabled + label:hover::before,
.filter-list__checkbox:checked:disabled + label:active::before {
	opacity: 0.25;
	background-image: url(../img/checkbox-on.svg);
}

.filter-list__radio + label::before {
	content: "";

	position: absolute;
	top: 50%;
	left: -42px;

	transform: translateY(-50%);

	width: 25px;
	height: 25px;

	background-image: url(../img/radio-off.svg);
	background-repeat: no-repeat;
}

.filter-list__radio:checked + label::before {
	background-image: url(../img/radio-on.svg);
}

.filter-list__radio:hover + label::before,
.filter-list__radio:focus + label::before {
	opacity: 0.6;
}

.filter-list__radio:active + label::before {
	opacity: 1;
	background-image: url(../img/radio-on.svg);
}

.filter-list__radio:checked:active + label::before {
	opacity: 1;
	background-image: url(../img/radio-off.svg);
}

.filter-list__radio:checked:disabled + label::before,
.filter-list__radio:checked:disabled:active + label::before {
	opacity: 0.25;
	background-image: url(../img/radio-on.svg);
}

.filter-list__radio:disabled + label::before,
.filter-list__radio:disabled:active + label::before {
	opacity: 0.25;
	background-image: url(../img/radio-off.svg);
}

.filter__button {
	cursor: pointer;

	border: none;

	width: 100%;
}

.sort {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 760px;
	min-height: 70px;
	padding-left: 72px;

	background-color: #ebebeb;
}

.sort-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 560px;
}

.sort__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding: 0;

	list-style: none;

	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0;
	color: rgba(0, 0, 0, 0.3);
}

.sort__list:first-child {
	width: 288px;
}

.sort__type a {
	color: rgba(0, 0, 0, 0.3);
}

.sort__type a[href]:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sort__type a[href]:active {
	color: rgba(0, 0, 0, 1);
}

.sort__type--current,
.sort__type--current a {
	color: #000000;
}

.sort__arrow a {
	display: block;
	margin-left: 20px;

	width: 10px;
	height: 10px; 

	background-repeat: no-repeat;
	background-position: 0 0; 
}

.sort__arrow a[href] {
	opacity: 0.2;
}

.sort__arrow a[href]:hover {
	opacity: 0.4;
}

.sort__arrow a[href]:active {
	opacity: 1;
}

.sort__arrow--up a {
	background-image: url(../img/icon-up-dir.svg);
}

.sort__arrow-down a {
	background-image: url(../img/icon-down-dir.svg);
}

.product-cards {
	position: relative;
}

.product-cards::after {
	content: "";

	position: absolute;
	top: 0;
	left: 100%;

	width: 600%;
	height: 70px;
	
	background-image: linear-gradient(to bottom, #ebebeb 70px, transparent 70px);
}

.product-cards-wrapper {
	width: 760px;
	margin-left: auto;
}

.product-cards__list {
	display: flex;
	flex-wrap: wrap;

	padding: 0;
	margin-top: 70px;
	margin-bottom: 35px;
	width: 760px;

	list-style: none;
}

.product-cards__item {
	display: flex;
	flex-direction: column;

	margin-left: 40px;
	margin-bottom: 45px;
}
.product-cards__item:nth-child(2n+1) {
	margin-left: 0;
}

.product-cards__item:nth-child(3n),
.product-cards__item:nth-child(4n) {
	margin-bottom: 0;
}

.card-wrapper {
	order: 2;

	display: flex;
	justify-content: space-between;
}

.product-cards__photo-container {
	cursor: pointer;

	position: relative;

	width: 360px;
	height: 380px;

	margin-bottom: 30px;
}

.product-cards__photo-container:hover > .product-cards__actions-list,
.product-cards__photo-container:focus > .product-cards__actions-list {
	visibility: visible;
}

.product-cards__name {
	width: 260px;
	/* не подобрать! */
}

.product-cards__name,
.product-cards__name a {
	margin: 0;

	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.product-cards__price {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;

}

.product-cards__actions-list {
	position: absolute;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: rgba(238, 238, 238, 0.7);

	visibility: hidden;

	transition: visibility 0.5s;
}

.card-actions__button {
	cursor: pointer;

	margin-bottom: 20px;

	border: none;
}

.card-actions__button--to-cart {
	width: 200px;
}

.card-actions__button--to-compare {
	padding: 0;

	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);

	background-color: transparent;
}

.card-actions__button--to-compare:hover {
	color: rgba(0, 0, 0, 1);
}

.card-actions__button--to-compare:active {
	color: rgba(0, 0, 0, 0.2);
}

.pagination {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	margin: 0 auto;
	padding: 0;
	margin-bottom: 77px;
	margin-right: -0.2em;

	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 1);
	letter-spacing: 0.2em;
	text-transform: uppercase;

	background-color: #ebebeb;
}

.pagination__wrapper {
	display: inline-flex;

	width: 200px;
}

.pagination__wrapper:last-child {
	justify-content: flex-end;
}

.pagination a {
	display: block;

	padding-top: 24px;
	padding-bottom: 23px;
}

.pagination__prev,
.pagination__next {
	padding-left: 30px;
	padding-right: 30px;

	color: rgba(0, 0, 0, 1);
}

.pagination__prev:hover,
.pagination__next:hover {
	background-color: #d9d9d9;
}

.pagination__prev:active,
.pagination__next:active {
	color: rgba(0, 0, 0, 0.3);
}

.pagination__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding: 0;
	margin: 0;
	width: 90px;

	list-style: none;
}

.pagination__item a[href] {
	color: rgba(0, 0, 0, 0.3);
}

.pagination__item a[href]:hover {
	color: rgba(0, 0, 0, 0.6);
}

.pagination__item a[href]:active {
	color: rgba(0, 0, 0, 1);
}

.main-footer {
	min-width: 1200px;
	display: flex;
	flex-direction: column;

	color: #ffffff;

	background-color: #464646;
}

.footer-container {
	width: 1160px;
	margin: 0 auto;
	padding: 65px 20px;
	/*padding-left: 21px;*/
}

.footer-wrapper-top,
.footer-wrapper-middle,
.footer-wrapper-bottom {
	display: flex;
	justify-content: space-between;
}

.footer-wrapper-top {
	margin-bottom: 21px;
}

.main-footer__logo {
	width: 180px;
}

.footer-actions {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-between;*/

	margin: 0;
	padding: 0;
	width: 310px;

	list-style: none;

	color: #ffffff;
	text-align: right;
}

.inner-footer .footer-actions {
	width: 460px;
}

.footer-actions__item a {
	position: relative;

	padding-left: 10px;
	margin-left: 52px;

	color: rgba(255, 255, 255, 0.7);
}

.footer-actions__item:first-child a {
	margin-left: 0;
}

.footer-actions__item a::before {
	content: "";

	position: absolute;
	top: 50%;
	right: 100%;

	transform: translateY(-50%);

	width: 15px;
	height: 15px;
	margin-top: -1px;
}

.footer-actions__item--login a::before {
	background-image: url(../img/userf.svg);
	background-position: right bottom;
	background-repeat: no-repeat;
}

.footer-actions__item--compare a::before {
	background-image: url(../img/comparef.svg);
	background-position: right bottom;
	background-repeat: no-repeat;
}

.footer-actions__item--cart a::before {
	background-image: url(../img/cartf.svg);
	background-position: right bottom;
	background-repeat: no-repeat;
}

.footer-actions__item a:hover {
	color: rgba(255, 255, 255, 1);
}

.footer-actions__item a:hover::before {
	opacity: 0.6;
}

.footer-actions__item a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-actions__item a:active::before {
	opacity: 0.3;
}

.footer-actions__item--logout {
	margin-right: auto;
	margin-left: 20px;
}

.footer-actions__item--logout button {
	padding: 0;

	cursor: pointer;

	font: inherit;
	color: rgba(255, 255, 255, 0.3);

	background-color: transparent;

	border: none;
}

.footer-wrapper-middle {
	align-items: flex-end;

	margin-bottom: 65px;
}

.footer__shop-address {
	width: 260px;

	font-style: normal;
	letter-spacing: 0;
}

.footer__shop-phone {
	width: 260px;

	color: #ffffff;
	letter-spacing: 0;
	text-align: right;
}

.footer-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding: 0;
	margin: 0;
	width: 425px;

	list-style: none;

	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
}

.footer-nav__item:last-child {
	margin-right: -0.2em;
}

.footer-nav__item a {
	color: #ffffff;
}

.footer-nav__item a:hover {
	color: rgba(255, 255, 255, 0.6);
}
.footer-nav__item a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-wrapper-bottom {
	align-items: center;
}

.footer-wrapper-bottom::before {
	content: "";

	width: 80px;
	height: 7px;

	background-color: #ffc600;
}

.social-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding: 0;
	margin: 0;
	width: 140px;

	list-style: none;

	text-align: center;
}

.social-list__item a {
	display: block;

	width: 32px;
	height: 32px;

	opacity: 0.3;
}

.social-list__item a:hover {
	opacity: 0.6;
}

.social-list__item a:active {
	opacity: 0.1;
}

.social-list__item--facebook a {
	background-image: url(../img/fb.svg);
	background-repeat: no-repeat;
}

.social-list__item--instagram a {
	background-image: url(../img/instagram.svg);
	background-repeat: no-repeat;
}

.social-list__item--twitter a {
	background-image: url(../img/twitter.svg);
	background-repeat: no-repeat;
}

.footer__copyright {
	display: flex;

	width: 80px;
	height: 35px;
}

.footer__copyright a {
	width: 27px;
	height: 100%;
	margin-left: auto;

	background-image: url(../img/logo-html.svg);
	background-repeat: no-repeat;
	background-position: right 0;
}

.footer__copyright a:hover {
	opacity: 0.6;
}

.footer__copyright a:active {
	opacity: 0.3;
}

.modal {
	display: none;
}

.write-us {
	background-color: #ffffff;
}

.write-us__label {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0;
	color: #000000;
}

.write-us__field {
	background-color: #f2f2f2;

	font: inherit;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0;

	border: none;
}

.write-us__field:hover {
	background-color: #eaeaea;
}

.write-us__field:focus {
	box-sizing: border-box;

	background-color: #ffffff;

	outline: 3px solid #f7e296;
}

.modal__send {
	border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}