@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensans.woff2") format("woff2"),
		 url("../fonts/opensans.woff") format("woff");
	font-weight: 400;
	font-style: normal;	
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/opensanslight.woff2") format("woff2"),
		 url("../fonts/opensanslight.woff") format("woff");
	font-weight: 300;
	font-style: normal;	
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff2") format("woff2"),
		 url("../fonts/gilroylight.woff") format("woff");
	font-weight: 300;
	font-style: normal;	
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
		 url("../fonts/gilroyextrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;	
}

body {
	margin: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	letter-spacing: 0.01em;
	color: #464646;

	background-color: #ffffff;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

.main-header {
	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;
}

.inner-header {
	margin-bottom: 40px;
}

.navigation {
	display: flex;
	flex-direction: column;

	padding: 0 60px;
	padding-bottom: 45px;

	color: #000000;

	background-color: #f7e296;
	background-image: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px);
}

.nav-wrapper-top {
	margin-bottom: 36px;
}

.nav-wrapper-top,
.nav-wrapper-bottom {
	display: flex;
	justify-content: space-between;
}

.nav-wrapper-bottom {
	align-items: center;
}

.navigation a {
	color: #000000;
}

.navigation a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.navigation__logo {
	margin-top: 21px;
	margin-bottom: 18px;
}

.navigation__logo a[href]:hover,
.main-footer__logo a[href]:hover {
	opacity: 0.6;
}

.navigation__logo a[href]:active,
.main-footer__logo a[href]:active {
	opacity: 0.3;
}

.navigation__search {
	width: 440px;
	padding-left: 40px;
}

.search__field {
	padding: 0;

	color: #000000;
	font-family: inherit;
	font-weight: inherit;

	background-color: transparent;

	border: none;
}

.search__field::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.navigation__search:hover .search__field::placeholder { 
	color: rgba(0, 0, 0, 0.6);
} 

.search__button {
	padding: 0;

	visibility: hidden;

	transition: 0.1s;

	color: #000000;
	font-family: inherit;
	font-weight: inherit;

	background-color: #f7e296;

	border: none;
}

.search__button:hover,
.search__button:focus {
	visibility: visible;
}

.search__field:focus {
	color: #000000;
}

.search__field:focus + .search__button {
	visibility: visible;

	color: #000000;

	background-color: #f7e296;
}

.header-actions {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
	width: 500px;

	list-style: none;
}

.header-actions__item a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.header-actions__item {
	margin-left: 64px;
}

.header-actions__item:first-child {
	margin-left: 0;
}

.header-actions__item a:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-actions__item--login {
	margin-right: auto;
}

.inner-header .header-actions__item--login {
	margin-right: 0;
}

.header-actions__item--logout {
	margin-right: auto;
	margin-left: 20px;
}

.header-actions__item--logout button {
	padding: 0;

	cursor: pointer;

	font: inherit;
	color: rgba(0, 0, 0, 0.3);

	background-color: transparent;

	border: none;
}

.nav-catalog__title {
	display: inline-flex;

	margin: 0;
	width: 300px;
}

.nav-catalog__title button {
	padding: 0;

	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	background-color: transparent;

	border: none;
}

.nav-catalog__title button:hover {
	cursor: pointer; 

	color: rgba(0, 0, 0, 0.6);
}

.nav-catalog__title button:active {
	color: rgba(0, 0, 0, 0.3);
}

.nav-catalog__list {
	display: none; 

	margin: 0;
	padding: 0;

	line-height: 36px;

	list-style: none;
}

.main-nav {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
	width: 500px;
	
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;

	list-style: none;
}

.main-nav__item {
	margin-right: 34px;
}

.main-nav__item:last-child {
	margin-right: -0.2em; /* это ок? :с */
}

.main-nav__item--contacts {
	margin-left: auto;
}

.popular-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.popular-list__slogan {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 56px;
	color: #000000;
}

.popular-list__table td {
	font-size: 13px;
	line-height: 20px;
}

.popular-list__table td:nth-child(2n) {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 48px;
	color: #000000;
}

.catalog__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog__item {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: #000000;

	background-color: #f7e296;
}

.catalog__item a {
	color: #000000;
}

.services {
	background-color: #e5e5e5;
}

.services-nav {
	margin: 0;
	padding: 0;

	list-style: none;
}

.services-nav__item button {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	color: #000000;
	text-transform: uppercase;

	border: none;

	background-color: #f7e296;
}

.services-nav__item--current button {
	color: #f7e296;

	background-color: #000000;
}

.services__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.services__subtitle {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
}

.companies__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.index-columns {
	display: flex;
	justify-content: space-between;

	width: 1160px;
	margin: 0 auto;
	margin-bottom: 86px;
	padding: 0 20px;
}

.about,
.contacts {
	width: 560px;

	letter-spacing: 0;

	background-color: #ffffff;
}

.about__info {
	width: 475px;
}

.about__info p {
	margin: 0;
	margin-bottom: 30px;

}

.about__info p:last-child {
	margin-bottom: 65px;
}

.about__list {
	padding: 0;
	margin-bottom: 60px;

	list-style: none;
}

.about__item {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 40px;
	color: #000000;
}

.about__title,
.contacts__title,
.inner-page__title {
	margin: 0;
	margin-bottom: 43px;

	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
}

.contacts__info {
	margin: 0;
	margin-bottom: 40px;
}

.contacts__map {
	display: block;

	margin-bottom: 65px;
}

.button {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;

	background-color: #f0c52e;
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
}

.inner-page {
	width: 1160px;
	margin: 0 auto; 
	padding: 0 20px;
}

.inner-nav-wrapper {
	width: 1040px;
	margin: 0 auto; /*это же норм?*/
	margin-bottom: 47px;
}

.inner-page__title {
	margin-bottom: 23px;
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;

	padding: 0;
	margin: 0;

	list-style: none;

	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__item {
	margin-right: 37px;
}


.breadcrumbs__item a {
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__item a[href]:hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__item a[href]:active {
	color: rgba(0, 0, 0, 0.1);
}

.catalog-columns {
	display: flex;

	width: 1160px;
}

.filter {
	min-width: 268px;
	margin-left: 60px;

	background-color: #efefef;
}

.filter fieldset {
	border: none;
	padding: 0;
}

.filter__title,
.sort__title {
	margin: 0;

	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	color: #000000;
	text-transform: uppercase;
}

.filter__title {
	display: flex; /**/
	align-items: center;

	width: 100%;
	min-height: 70px;
	margin-bottom: 70px;

	background-color: #dbdbdb;
}

.filter__form {
	width: 200px;
}

.filter__parameter {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.filter-list {
	margin: 0;

	list-style: none;

	font-size: 14px;
	line-height: 40px;
	color: #000000;
}

.filter__button {
	cursor: pointer;

	border: none;
}

.sort {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 760px;
	min-height: 70px;
	padding-left: 72px;

	background-color: #ebebeb;
}

.sort-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 560px;
}

.sort__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding: 0;

	list-style: none;

	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0;
	color: rgba(0, 0, 0, 0.3);
}

.sort__list:first-child {
	width: 288px;
}

.sort__type a {
	color: rgba(0, 0, 0, 0.3);
}

.sort__type a[href]:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sort__type a[href]:active {
	color: rgba(0, 0, 0, 1);
}

.sort__type--current,
.sort__type--current a {
	color: #000000;
}

.product-cards-wrapper {
	width: 760px;
	margin-left: auto;
}

.product-cards__list {
	display: flex;
	flex-wrap: wrap;

	padding: 0;
	margin-top: 70px;
	margin-bottom: 35px;
	width: 760px;

	list-style: none;
}

.product-cards__item {
	display: flex;
	flex-direction: column;

	margin-left: 40px;
	margin-bottom: 45px;
}

.product-cards__item:nth-child(2n+1) {
	margin-left: 0;
}

.product-cards__item:nth-child(3n),
.product-cards__item:nth-child(4n) {
	margin-bottom: 0;
}

.card-wrapper {
	order: 2;

	display: flex;
	justify-content: space-between;
}

.product-cards__photo-container {
	margin-bottom: 23px;
}

.product-cards__name {
	width: 260px;
	/* не подобрать! */
}

.product-cards__name,
.product-cards__name a {
	margin: 0;

	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.product-cards__price {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;

}

.card-actions__button {
	display: none; /*Временно скрыла, чтобы построить сетку*/

	cursor: pointer;

	border: none;
}

.card-actions__button--to-compare {
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);
}

.card-actions__button--to-compare:hover {
	color: rgba(0, 0, 0, 1);
}

.card-actions__button--to-compare:active {
	color: rgba(0, 0, 0, 0.2);
}

.pagination {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	margin: 0 auto;
	padding: 0;
	margin-bottom: 77px;

	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 1);
	letter-spacing: 0.2em;
	text-transform: uppercase;

	background-color: #ebebeb;
}

.pagination a {
	display: block;

	padding-top: 24px;
	padding-bottom: 23px;
}

.pagination__prev,
.pagination__next {
	padding-left: 30px;
	padding-right: 30px;

	color: rgba(0, 0, 0, 1);
}

.pagination__prev:hover,
.pagination__next:hover {
	background-color: #d9d9d9;
}

.pagination__prev:active,
.pagination__next:active {
	color: rgba(0, 0, 0, 0.3);
}

.pagination__next {
	margin: -0.2em;
}

.pagination__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding: 0;
	margin: 0;
	width: 90px;

	list-style: none;
}

.pagination__item a[href] {
	color: rgba(0, 0, 0, 0.3);
}

.pagination__item a[href]:hover {
	color: rgba(0, 0, 0, 0.6);
}

.pagination__item a[href]:active {
	color: rgba(0, 0, 0, 1);
}

.main-footer {
	display: flex;
	flex-direction: column;

	color: #ffffff;

	background-color: #464646;
}

.footer-container {
	width: 1160px;
	margin: 0 auto;
	padding: 65px 20px;
	/*padding-left: 21px;*/
}

.footer-wrapper-top,
.footer-wrapper-middle,
.footer-wrapper-bottom {
	display: flex;
	justify-content: space-between;
}

.footer-wrapper-top {
	margin-bottom: 21px;
}

.main-footer__logo {
	width: 180px;
}

.footer-actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding: 0;
	width: 360px;

	list-style: none;

	color: #ffffff;
	text-align: right;
}

.inner-footer .footer-actions {
	width: 480px;
}

.footer-actions__item a {
	color: rgba(255, 255, 255, 0.7);
}

.footer-actions__item a:hover {
	color: rgba(255, 255, 255, 1);
}

.footer-actions__item a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-actions__item--logout button {
	padding: 0;

	cursor: pointer;

	font: inherit;
	color: rgba(255, 255, 255, 0.3);

	background-color: transparent;

	border: none;
}

.footer-wrapper-middle {
	align-items: flex-end;
}

.footer__shop-address {
	width: 260px;

	font-style: normal;
	letter-spacing: 0;
}

.footer__shop-phone {
	width: 260px;

	color: #ffffff;
	letter-spacing: 0;
	text-align: right;
}

.footer-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	padding: 0;
	margin: 0;
	width: 425px;

	list-style: none;

	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
}

.footer-nav__item:last-child {
	margin-right: -0.2em;
}

.footer-nav__item a {
	color: #ffffff;
}

.footer-nav__item a:hover {
	color: rgba(255, 255, 255, 0.6);
}
.footer-nav__item a:active {
	color: rgba(255, 255, 255, 0.3);
}

.social-list {
	padding: 0;
	margin: 0;
	width: 160px;

	list-style: none;

	text-align: center;
}

.footer__copyright {
	width: 80px;
}

.modal {
	display: none;
}

.write-us {
	background-color: #ffffff;
}

.write-us__label {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0;
	color: #000000;
}

.write-us__field {
	background-color: #f2f2f2;

	font: inherit;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0;

	border: none;
}

.write-us__field:hover {
	background-color: #eaeaea;
}

.write-us__field:focus {
	box-sizing: border-box;

	background-color: #ffffff;

	outline: 3px solid #f7e296;
}

.modal__send {
	border: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}